<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/menu %>

  <main role="main" class="container">

    <div>
      <h1>Controlled Execution Phase</h1>
    </div>

  </main>
  <!-- /.container -->
  <% include ../partials/scripts %>
</body>

</html>