<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/menu %>

  <main role="main" class="container">

    <div>
      <h1>Happens-before Phase</h1>
    </div>
    <br/>
    <table class="table table-hover">
      <tbody>
        <tr class="table-row" data-href="/hb/full">
          <td>Full version</td>
          <td>It contains all data used to identify the happens-before relations.</td>
        </tr>
        <tr class="table-row" data-href="/hb/reduced">
          <td>Reduced version</td>
          <td>It contains a reduced version used by the controlled execution.</td>
        </tr>
      </tbody>
    </table>

  </main>
  <!-- /.container -->
  <% include ../partials/scripts %>
</body>

</html>