<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>
  <% include partials/menu %>

  <main role="main" class="container">

    <div class="starter-template">
      <h1>NodeRacer Report</h1>
      <p class="lead">
        Showing the report for folder '<%= mainFolder %>'.
      </p>
    </div>

    <form action="/changefolder" method="POST" id="form">
      <div class="form-group">
        <label for="exampleInputEmail1">Full log folder path</label>
        <input type="text" class="form-control" id="path" name="path" aria-describedby="pathHelp"
          placeholder="e.g., /home/user/log" required>
      </div>
      <button type="submit" class="btn btn-primary">Change log folder</button>
    </form>

    <br />
    Last accessed log folders:
    <ul>
      <% history.forEach((item) => { %>
      <li>
        <a href="#" onclick="load('<%= item.name %>')">
          <%= item.name %>
        </a>
      </li>
      <% }) %>
    </ul>

    <script>
      function load(url) {
        var input = document.getElementById('path');
        input.value = url;
        document.getElementById('form').submit();
      }
    </script>

    <% include partials/scripts %>
</body>

</html>